/**
 * CSS for the example viewer application.
 *
 * Curran Kelleher 3/5/2014.
 */

/* Import Google Font. */
@import url(http://fonts.googleapis.com/css?family=Comfortaa);
@import url(http://fonts.googleapis.com/css?family=Raleway);

/**** Begin styles for all views. ****/
body {
  font-family: Sans-Serif;
  background-color: whitesmoke;
  margin: 20px;
}

/* Center the title part of the page. */
.centered {
  text-align: center;
}

/* Make the title large and move it down a little so it is more vertically centered. */
.page-title {
  font-size: 5em;
  padding-top: 5px;
  margin: 0px;
}

.example-entry{
  font-family: 'Comfortaa', sans-serif;
  font-size: 3em;
}

.title-text {
  margin: 0px;
  font-family: 'Comfortaa', sans-serif;
  color: #253634;
}

.subtitle-text {
  margin: 0px;
  font-size: 1.8em;
  font-family: 'Comfortaa', sans-serif;
  color: #253634;
}

.readme {
  font-size: 1.5em;
  font-family: 'Comfortaa', sans-serif;
  color: #253634;
}

.title-text a {
  font-family: 'Comfortaa', sans-serif;
  color: #253634;
  text-decoration: none;
}

/* apply a natural box layout model to all elements */
/* see http://www.paulirish.com/2012/box-sizing-border-box-ftw/ */
*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

/**** Begin styles for the details view only. ****/

/**
 * Style code editors on the details view.
 * Autoresize code from http://codemirror.net/demo/resize.html
 */
.CodeMirror {
  border: 2px solid lightgray;
  height: auto;
  font-size: 1.5em;
}
.CodeMirror-scroll {
  height: auto;
}

.top-split {
  width: 100%;
  min-height: 300px;
}

.top-left {
  float: left; 
  width: 50%;
  /*height: 100%;*/
  padding: 20px;
}

.top-right {
  position: absolute;
  right: 20px;
  top: 10px;
  width: 50%;
  height: 330px;
  z-index: 100;
  background: white;
  /*
  float: right; 
  width: 50%;
  height: 100%;
  */
}

/* Size the iFrame that contains the running example. */
iframe {
  width: 100%;
  height: 100%;
  border: 2px lightgray solid; 
}

iframe h1{
  font-family: monospace;
}

/* Style the names of source code files. */
.file-name {
  font-size: 1.5em;
  padding-top: 15px;
  padding-left:20px;
}

/* Style the video. */
video{
  position: fixed;
  bottom: 10px;
  right: 10px;
  border-radius:20px;
  z-index: 100;
}

/* Style the fork me on Bitbucket image */
.forkme{
  position: absolute; 
  top: 0; 
  right: 0; 
  border: 0; 
  z-index: 200; 
}